*.py[cod]
*/settings/local.py
# Installer logs
pip-log.txt

# ignore media
*/media
# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
